<!-- <h1>Listado de herores</h1>

<div *ngIf=" heroeBorrado else noBorrado" >
    <h1 >Heroes borrados</h1>
    <small>{{ heroeBorrado }}</small>
  
</div>

<ng-template #noBorrado>
    <h1>No has borrado un heroe</h1>
</ng-template >
  
<ul>
    <li *ngFor="let horeo of herores;
                let i = index "> {{ i + 1 }} item : {{horeo}}
        </li>
</ul>

<button (click)="borrarHeroe()">Borrar herore</button> -->

<hr>

<ol>
    <li *ngFor="let persona of personasInscritas"> {{ persona }}</li>
</ol>

<div *ngIf=" personasInscritas.length === 0 ">
    <h3>No hay personas agregadas aun!</h3>
</div>

<dir *ngIf="personaEliminada">
    
</dir>
 
<ng-template #eliminados>
    <h3>Eliminado : {{ personaEliminada}}</h3>
</ng-template>



